
:root{
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin: 0px;
}

.layout{
  display: flex;
  justify-content: space-around;
  align-items:center;
  width: 1500px;
  height: 50px;
  background: #252F3D;
}

.imgboxproduct{
  width: 199px;
  height: 126px;
  top: 0.5px;
  border-radius: 10px;
}

.title-header{
  width: 197px;
  height: 9px;
  top: 22px;
  left: 157px;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  padding-top: 5px;
}

.imgs{
  width: 22px;
  height: 22px;
  top: 15px;
  left: 127px;
  padding: 1.9px, 1.9px, 1.9px, 1.9px;
  margin-right: 10px;
}

.layout-2{
  width: 219px;
  height: 22px;
  top: 15px;
  left: 1154px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brands{
  width: Fixed (1,500px);
  height: Hug (96px);
  top: 50px;
  padding: 30px, 127px, 30px, 127px;
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
}

.brandingph{
  margin: 25px;
  width: 192px;
  height: 36px;
}

.brandingph2{
  margin: 25px;
  width: 202px;
  height: Hug (32px);
  gap: 32px;
}

.main-title{
  display: grid;
  justify-content: center;
  justify-items: center;
  width: Hug (636px);
  height: Hug (76px);
  top: 135px;
  left: 432.5px;
  gap: 24px;
}

.title-com1{
  width: 636px;
  height: 35px;
  font-family: Manrope;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.subtitle1{
  margin: 11px;
  width: 575px;
  height: 17px;
  font-family: Manrope;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #4D5254;
}

.head-layout{
  display: flex;
  justify-content: space-between;
  width: Fixed (1,245px);
  height: Hug (40px);
  top: 271px;
  left: 128px;
  margin: 50px;
  margin-right: 95px;
  margin-left: 95px;
}

.subletter{
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  width: 180px;
  height: 14px;
  color: #000000;
}

.layout-3{
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: normal;
}

.bannimg{
  margin-top: 10px;
  margin-right: 10px;
  height: 35px;
  width: 40px;
}

.newsection{
  width: 1340px;
  height: 879px;
  top: 351px;
  left: 128px;
  border-radius: 10px;
  background: #FAFAFA;
  margin: 80px;
}

.frame9{
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas */
  grid-template-rows: 591px auto; /* Primera fila con 591px, segunda fila automática */
  gap: 10px; /* Espacio entre elementos, ajusta según tus necesidades */
  width: 100%;
}

.debox{
  grid-column: 1;
  grid-row: 1 / span 2; 
  background-color: lightblue;
  width: 575px;
  height: 591px;
  top: 40px;
  left: 40px;
  border-radius: 10px;
  margin: 35px;
}

.deboxtw{
  grid-column: 2; 
  grid-row: 1 / span 2;
  height: 799px;
  top: 40px;
  left: 655px;
  gap: 32px;
  margin: 35px;
}

.deboxthree{
  grid-column: 1; 
  grid-row: 2; 
  width: 530px;
  height:189px;
  top: 655px;
  left: 40px;
  padding: 24px;
  border-radius: 10px;
  gap: 18px;
  margin: 35px;
  background: #FFFFFF;
}

.comments{
  width: 527px;
  height: 72px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #4D5254;
}

.phtico{
  width: 48px;
  height: 48px;
  border-radius: 100px;
  margin: 5px;
}

.textarea{
  width: 525px;
  height: 50px;
}

.deboxtw__box{
  display:flex;
  align-items: center;
}
.deboxtw__box2{
  display:block;
  align-content: space-between;
}

.deboxtw__box3{
  display:flex;
  align-items: center;
}

.approved{
  margin: 4px;
  color: green;
}

.stars{
  display: initial;
  vertical-align: middle;
}

.btn1{
  width: 90px;
  height: 40px;
  border-radius: 400px;
  margin-bottom: 25px;
  background: #FAFAFA;
}

.btn1:hover{
  background: #2dacb1b2;
}

.secondtitle{
  width: 550px;
  height: 113px;
  font-family: Manrope;
  font-size: 32px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  font-family: Manrope;
  font-size: 32px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: linear-gradient(0deg, #000000, #000000),
  linear-gradient(0deg, #2C7EF8, #2C7EF8);

}
.code{
  color: #2C7EF8;
}

.frameq{
  margin-bottom: 39px;
}

.frame13{
  width: Fill (550px);
  height: Hug (135px);
  gap: 24px;
  display: flex;
}

.frameimg{
  width: 178px;
  height: 134px;
  border-radius: 10px;
  background-color: #2C7EF8;
  padding: 5px;
  display: flex;
}

.diffecontent{
  width: Fill (392px);
  height: Hug (135px);
  gap: 15px;
}

.line-price{
  width: Fill (392px);
  height: Hug (16px);
  display: flex;
  justify-items: flex-end;
}

.nameprod{
  width: 173px;
  height: 14px;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.line-price2{
  width: Hug (88px);
  height: Hug (16px);
  gap: 10px;
  display: flex;
  align-content: flex-end;
  margin-right: 15px;
}

.line-price3{
  display: flex;
  align-items: center;
  margin-left: 87px;
}

.pricefix{
  width: 37px;
  height: 12px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #969696;
  padding-top: 2.5px;
}

.pricefix2{
  width: 41px;
  height: 16px;
  font-family: Manrope;
  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #2C7EF8;
  margin: 4px;
}

.starsprod{
  display: flex;
  margin-top: 7px;  
}

.starsprod2{
  border-radius: 16px;
}

.frame193{
  width: 136px;
  height: 22px;
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
}

.indipro{
  width: 16px;
  height: 17px;
}

.indipro2{
  width: 104px;
  height: 22px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #37465A;
}

.pulpi{
  margin-top: 7px;
  width: 398px;
  height: 34px;
}

.frame472{
  width: 550px;
  height: 98px;
  gap: 16px;
  margin-top: 22px;
  display: block;
}

.chul1{
  width: 481px;
  height: 22px;
  gap: 12px;
  display: flex;
  align-items: center;
  margin-top: 13px;
}

.chul2{
  width: 481px;
  height: 22px;
  gap: 12px;
  display: flex;
  align-items: center;
  margin-top: 13px;
}

.chul3{
  width: 481px;
  height: 22px;
  gap: 12px;
  display: flex;
  align-items: center;
  margin-top: 13px;
}

.pic{
  width: 22px;
  height: 22px;
}

.frase{
  width: 447px;
  height: 12px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #4D5254;
}

.containertv{
  width: 552px;
  height: 56px;
  padding: 12px, 16px, 12px, 16px;
  border-radius: 10px;
  gap: 10px;
  background: #EDF3FD;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20px;
}

.containertv2{
  width: 451px;
  height: 32px;
  gap: 16px;
  display: flex;
  align-items: center;
  margin: 15px;
}

.imgtv{
  width: 32px;
  height: 32px;
}

.blue{
  color: #2C7EF8;
}

.btnmainbox{
  width: Fixed 542px;
  height: 149px;
  gap: 20px;
}

.bbtn{
  width: 542px;
  height: 59px;
  padding: 16px, 24px, 16px, 24px;
  border-radius: 60px;
  gap: 10px;
  background: #59AE43;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bbtn:hover{
  background: #6faf68;
}

.btnsito{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnsito2{
  width: 290px;
  height: 27px;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}

.arrowicon{
  width: 27px;
  height: 4vh;
  border: 2px;
  color: #FFFFFF;
  border: #FFFFFF;
}

.bannerbox{
  width: 542px;
  height: 33px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 4px;
  border: 1px;
  gap: 16px;
  color: #CFCFCF;
  border: 1px solid #CFCFCF;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.shipping{
  width: 76px;
  height: 17px;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: #4D5254;
}

.barrier{
  width: 16px;
  border: 1px;
  color: #CFCFCF;
}

.shipping{
  width: 76px;
  height: 17px;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: #4D5254;
}

.padlock{
  width: 12px;
  height: 12px;
  padding: 1px, 1.88px, 1px, 1.13px;
}

.secure{
  width: 172px;
  height: 9px;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #4D5254;
}

.conteimgs{
  width: 180px;
  height: 14px;
  gap: 2px;
  display: flex;
  margin-right: 18px;
}

.cards{
  width: 24px;
  height: 19px;
}

.contepadlock{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.shippingopt{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-left: 25px;
}

.nothanks{
  width: 369px;
  height: 25px;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: #F82C2C;
  display: flex;
  justify-content: center;
}

.nothnks{
  width: 540px;
  height: 25px;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: #F82C2C;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.refund{
  width: 138px;
  height: 138px;
}

.refundtext{
  width: 446px;
  height: 78px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 480;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #4D5254;
}

.guarantee{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 550px;
  height: 88px;
  gap: 25px;
  margin-top: 45px;
}

.footerbox{
  width: 1500px;
  height: 88px;
  top: 1291px;
  padding: 14px, 119px, 14px, 127px;
  background: #252F3D;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ftrone{
  width: 416px;
  height: 40px;
  top: 24px;
  left: 127px;
  padding: 8px, 0px, 8px, 0px;
  border-radius: 4px;
  gap: 16px;
  display: flex;
  align-items: center;
  margin-left: 45px;
  margin-top: 35px;
}

.footerone{
  width: 261px;
  height: 22px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}

.linelayout{
  width: 14px;
  border: 10px;
  color: #FFFFFF;
  height: 22px;
}

.ftrtwo{
  width: 261px;
  height: 16px;
  top: 36px;
  left: 1120px;
  gap: 16px;
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.iconew{
  width: 16px;
  height: 16px;
  padding: 1.33px, 2.5px, 1.33px, 1.5px;
  color: #EDF3FD;
}

/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px); /* Efecto de desenfoque */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modal h2 {
  margin: 0;
  margin-bottom: 10px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.btnmodal1{
  border-radius: 20px;
  background: #45d321d3;
}

.btnmodal2{
  border-radius: 20px;
  background: #c53434e1;
}

